config STMVL53L1
        tristate "STM VL53L1 Proximity support"
        depends on I2C=y
        default y
        help
          Say Y here if you want to use STMicroelectronics's vl53L1 TOF AF sensor
          through I2C interface.

          To compile this driver as a module, choose M here: the
          module will be called stmvl53l1.
