config OEM_FORCE_DUMP
	default n
	bool "OEM force dump function, it will enable goto the force dump"

config PARAM_READ_WRITE
	bool "Param partition read/write support"
	default n
	help
		if you want to read/write the param partition in kernel,
		then you must say Y here.
config PROJECT_INFO
    bool "detect project info"
    default n
    help
      detect projcet info  If unsure, say n.

config OEM_BOOT_MODE
    bool "detect oem boot mode"
    default n
    help
        detect oem boot mode  If unsure, say y.

config RF_CABLE_DETECT
    bool "detect RF cable connection"
    help
      detect RF cable connection for different RF configuration
      To compile this driver as a module, choose M here: the module
      will be called RF cable.
      If unsure, say N.

config PSTORE_DEVICE_INFO
    bool "Log user space messages"
    depends on PSTORE
    help
      add device_info.txt for ramdump.

      If unsure, say N.
	  
config BOOTLOADER_LOG
	tristate "show bootloader log"
	depends on OF
	default y
	help
	  show bootloader log in kernel

config WB_KERNEL_LOG
	tristate "reserve kernel log to partition driver"
	default n


config GPIO_SWITCH
	tristate "use gpio swith"
	default y
	help
	  we can use gpio switch set gpio out high or low

config REGULATOR_DEMO
	tristate "use regultor demo"
	default y
	help
	  we can use regulator demo to control regulator

