config STEP_MOTOR
	tristate "Step motor driver for stspin220"
	help
	  This option enable support for stspin220 step motor Driver.

config DIGITAL_HALL_M1120
	tristate "digital hall m1120 Controler"
	default n
	help
	  Say Y here to enable m1120.
	
config ONEPLUS_STEP_MOTOR
	tristate "config oneplus step motor"
	default n
	help
	  Say Y to enable oneplus step motor.