
source "drivers/oneplus/coretech/Kconfig"
source "drivers/oneplus/input/Kconfig"
source "drivers/oneplus/fs/Kconfig"
source "drivers/oneplus/kernel/Kconfig"
source "drivers/oneplus/misc/Kconfig"
#source "drivers/oneplus/step_motor/Kconfig"
#source "drivers/oneplus/tri_state_key/Kconfig"
#source "drivers/oneplus/vibrator/Kconfig"
source "drivers/oneplus/power/Kconfig"
source "drivers/oneplus/vibrator/Kconfig"
#source "drivers/oneplus/power/Kconfig"
source "drivers/oneplus/oneplus_healthinfo/Kconfig"
source "drivers/oneplus/mm/Kconfig"
source "drivers/oneplus/opslalib/Kconfig"
#source "drivers/oneplus/framework/Kconfig"
source "drivers/oneplus/vl53L1/Kconfig"
source "drivers/oneplus/op_freezer/Kconfig"
source "drivers/oneplus/hung_task_enhance/Kconfig"
