# oem device driver for charge
#
source "drivers/oneplus/power/supply/qcom/Kconfig"
source "drivers/oneplus/power/supply/wlchg/Kconfig"

config OP_POWER_SUPPLY
	default y
	bool "Enable/Disable oneplus power related drivers"
